### Methods and Python Documentation

In [1]:
ml1 = [1,2,3]

In [2]:
ml1.append(4)

In [3]:
ml1

[1, 2, 3, 4]

In [4]:
ml1.pop(2)

3

In [5]:
ml1

[1, 2, 4]

In [6]:
help(ml1.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

### Introduction of Functions

In [11]:
def say_hello():
    print('hello')

In [9]:
say_hello()

hello

In [12]:
def say_hello():
    print('hello')
    print('Gurkirpal and')
    print('Parvaan')

In [14]:
say_hello()

hello
Gurkirpal and
Parvaan

In [15]:
def intro(name):
    print(f'Hello {name}')

In [16]:
intro('Parvaan')

Hello Parvaan

In [17]:
def add_num(n1, n2):
    return n1 + n2

In [19]:
result = add_num(10, 25)

In [20]:
result

35

In [21]:
def intro(name):
    return(f'Hello {name}')

In [22]:
intro('GKP')

'Hello GKP'

In [23]:
def intro(name):
    return(f'Hello {name}')

In [25]:
NAME = intro('GKP')

In [26]:
NAME

'Hello GKP'

In [27]:
def sum1(n1,n2):
    print(n1+n2)
    return n1+n2

In [28]:
result = sum1(2,5)

7

In [29]:
result

7

In [32]:
def sum2(n1,n2):
    return n1 + n2

In [35]:
result = sum2(12,5)

In [37]:
result

17

### Logic with Python Functions

In [54]:
def check_even(number):
    result = number % 2 == 0
    return result

In [55]:
check_even(23)

False

In [56]:
def check_even(number):
    return number % 2 == 0

In [57]:
check_even(14)

True

In [65]:
## Checking the list
def even_list_check(num_list):
    for num in num_list:
        if num % 2 ==0:
            return True
        else:
            pass

In [66]:
even_list_check([1,2])

True

In [67]:
even_list_check([1,2,3,4,5,6])

True

In [68]:
## Checking the list
def even_list_check(num_list):
    for num in num_list:
        if num % 2 ==0:
            return True
        else:
            pass
    return False

In [69]:
even_list_check([1,2,3,4,54,55])

True

In [70]:
even_list_check([1,3,5])

False

In [73]:
## Checking the list
## Return the even numbers in the list

def check_return_even(num_list):
    even_numbers = []
    for num in num_list:
        if num % 2 == 0:
            even_numbers.append(num)
        else:
            pass
    return even_numbers

In [74]:
check_return_even([1,2,3,4,5,6])

[2, 4, 6]

In [75]:
check_return_even([1,3,5])

[]

### Tuple Unpacking with Python Functions

In [76]:
stock_price = [('ABC', 12), ('DEF', 15), ('GHI', 14)]

In [81]:
for item in stock_price:
    print(item)

('ABC', 12)
('DEF', 15)
('GHI', 14)

In [82]:
for ticker, price in stock_price:
    print(ticker)

ABC
DEF
GHI

In [83]:
for ticker, price in stock_price:
    print(price *0.1)

1.2000000000000002
1.5
1.4000000000000001

In [84]:
work_hours = [('Pal', 100),('Rana', 15), ('Parvaan',471)]

In [86]:
def emp(work_hours):
    
    current_max = 0
    emp_of_month = ''
    for emp, hours in work_hours:
        if hours > current_max:
            current_max = hours
            emp_of_month = emp
        else:
            pass
        
        
    
    
    return (emp_of_month, current_max)

In [87]:
emp(work_hours)

('Parvaan', 471)

In [88]:
name, hours = emp(work_hours)

In [89]:
name

'Parvaan'

In [90]:
hours

471

#### * args and ** kwargs in Python

In [1]:
def num(* args):
    return sum(args)*0.1

In [2]:
num(1,2,3,4,5,6,7,8)

3.6

In [21]:
def num(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('No fruit')

In [23]:
num(fruit = 'apple', vege = 'carrot')

My fruit of choice is apple

In [29]:
def num(*args,**kwargs):
    print('I would like {} {}'.format(args[0], kwargs['food']))

In [32]:
num(15,20,35,fruit='apple',food = 'eggs')

I would like 15 eggs

In [34]:
def myfunc(*args):
    result = []
    for x in args:
        if x % 2 ==0:
            result.append(x)
    return result

In [35]:
myfunc(1,2,3,4,5)

[2, 4]

In [41]:
def num(*args):
    odd_num = []
    for x in args:
        if x % 2 == 1:
            odd_num.append(x)
    return odd_num

In [42]:
num(1,2,3,4,5,6,7)

[1, 3, 5, 7]

In [47]:
a = 'GuRkIRpAl'
a.swapcase()

'gUrKirPaL'

In [44]:
type(a)

str

### Map, filter function  and Lambda Expression

In [17]:
def square(num):
    return num**2

In [18]:
my_nums = [1,2,3,4,5]

In [19]:
for item in map(square, my_nums):
    print(item)

1
4
9
16
25

In [20]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [21]:
def splicer(ml):
    if len(ml)%2 ==0:
        return 'EVEN'
    else:
        return ml[0]

In [22]:
names = ['Andy', 'Parvaan', 'Gurkirpal']

In [23]:
list(map(splicer,names))

['EVEN', 'P', 'G']

In [24]:
def even_check(num):
    return num % 2==0

In [25]:
mynums = [1,2,3,4,5,6]

In [27]:
list(filter(even_check,mynums))

[2, 4, 6]

In [29]:
for n in filter(even_check,mynums):
    print(n)

2
4
6

In [32]:
def num(a):
    return a**2

In [33]:
num(4)

16

In [44]:
z = lambda a:a**2

In [45]:
z(3)

9

In [46]:
list(map(lambda num : num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [47]:
list(filter(lambda num :num%2 ==0,mynums))

[2, 4, 6]

In [48]:
list(map(lambda name: name[0], names))

['A', 'P', 'G']

### Nested Statements and Scope

In [52]:
x  = 25

def num():
    x= 50
    return x

In [53]:
num(x)

TypeError: num() takes 0 positional arguments but 1 was given